{% extends 'base.html.twig' %}

{% block title %}Hello CityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <h1>Editer une review</h1>
    {{ form_start(formEdit, {'method': 'POST'}) }}
        {{ form_widget(formEdit) }}
    {{ form_end(formEdit) }}
</div>

<a href="{{ path('app_user_review') }}">back to list</a>
{% endblock %}
