{% extends 'base.html.twig' %}

{% block title %}Hello CityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <h1>Créer une nouvelle review</h1>
    {{ form_start(formCreate, {'method': 'POST'}) }}
        {{ form_widget(formCreate) }}
    {{ form_end(formCreate) }}
</div>

<a href="{{ path('app_review_index') }}">back to list</a>
{% endblock %}
