{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <section class="container">
        <h1>Create new Restaurant</h1>

        {{ include('restaurant/_form.html.twig') }}

        <a href="{{ path('app_home') }}">retour à l'accueil</a>
    </section>
{% endblock %}
