{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="container">
    <h1 class="fs-1 fw-bold">Bienvenue sur NotaResto</h1>
    <div class= "row">
    {% for user in users %}
        <div class="col-4 my-3 g-4 text-white">
            <div class="p-3 bg-secondary h-100">
                <h2>{{ user.email }}</h2>
                    <h3>Nom : {{user.lastname}}</h3>
                    <h3>Prénom : {{user.firstname}}</h3>
                    <h3>Ville : {{user.city.name}}</h3>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}
